.description {
  margin: 20px 0 30px 25px;
  border-left: 1px solid #D2D2D2;
  padding-left: 68px;
}

.check {
  display: flex;
  align-items: center;
}

.check svg {
  margin-right: 40px;
}

.title {
  margin-bottom: 27px;
}